<p id="notice"><%= notice %></p>

<div class="alert alert-success" role="alert">
  <h1 class="alert-heading">Departamentos</h1>
  <p><strong> Visualize, edite, crie novos departamentos e se precisar, delete.</strong></p>

</div>


<table class="table table-bordered table-hover">
  <thead>
    <tr class="success">
      <th>Ativos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departamentos.each do |departamento| %>
      <tr class="active">
        <td><%= departamento.nome %></td>
        <td><%= link_to 'Ver departamento', departamento, class:"btn btn-success" %></td>
        <td><%= link_to 'Editar', edit_departamento_path(departamento), class:"btn btn-warning" %></td>
        <td><%= link_to 'Deletar', departamento, method: :delete, data: { confirm: 'Tem certeza que deseja deletar o departamento e todos os itens nele?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Criar novo departamento', new_departamento_path, class:"btn btn-primary",  method: :get%>
